<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="potes.cucumberjvm.launching.cucumberTest">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MifosTestAutomation/src/test/resources/features/Login.feature"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MifosTestAutomation"/>
<listAttribute key="potes.cucumberjvm.launching.cucumberTest.featurePath">
<listEntry value="src\test\resources\features\Login.feature"/>
</listAttribute>
</launchConfiguration>
